<section class="bg-primary h-screen flex justify-center items-center">
  <div class="card w-full max-w-4xl grid md:grid-cols-2 gap-5 p-20 m-10">
    <div class="inline">
      <img class="mx-auto" src="assets/images/img.svg" alt="img">
    </div>
    <div class="text-center">
      <h1 class="text-5xl font-bold text-secondary">
        MetaWall
      </h1>
      <h2 class="text-lg text-dark font-bold mt-4">到元宇宙展開全新社交圈</h2>
      <form action="">
        <ul class="mt-6">
          <li class="mb-3">
            <input class="w-full" type="text" placeholder="Email">
          </li>
          <li class="mb-6">
            <input class="w-full" type="password" placeholder="Password">
          </li>
          <li class="mb-3">
            <button class="btn w-full">登入</button>
          </li>
          <li>
            <a href="#" class="text-sm mt-5">註冊帳號</a>
          </li>
        </ul>
      </form>

    </div>
  </div>
</section>
